html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scale: 100%;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0px;
  background-color: lightblue;
  color: #333; /* all the text colour*/
  line-height: 1.6;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  width: 10px 0;
  font-weight: 100;
}

img {
  width: 100%;
}

header {
  background-color: rgb(8, 106, 181);
  color: #fff;
  padding: 5px;
  text-align: center;
  height: 70px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(117, 46, 13);
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  background-color: #638ab5;
  color: #fff;
  border-radius: 5px;
}

section.cover-container {
  background-color: rgb(95, 199, 199);
  overflow: auto;
  height: 490px;
  align-items: center;
}

.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cover-text {
  font-size: 25px;
  text-align: justify;
  color: rgb(249, 249, 249);

  margin-left: 10rem;
  margin-top: -200px;
}

section.articles,
section.articles-longer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  flex-wrap: wrap;
  flex-basis: 50%;
  align-items: stretch;
}

article {
  padding: 15px;
  background-color: rgb(233, 233, 233);
  height: auto;
  width: auto;
  margin: 10px;
  border-radius: 15px;
  text-align: justify;
}

.article-longer {
  display: flex;
  background-color: rgb(233, 233, 233);
  height: auto;
  width: auto;
  max-width: 940px;

  margin: 10px;
  border-radius: 15px;
}

.article-image,
.article-image-longer {
  background-color: beige;
  background-size: cover;
  height: auto;
  width: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 15px;
  min-height: 400px;
  min-width: 400px;
}

.services-article-container {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: wrap;
  background-size: cover;
  height: auto;
  max-width: 940px;

  margin: 20px 80px 20px 80px;
  border-radius: 15px;

  justify-content: center;
  padding: 5px;
  padding-top: 60px;
}
.services-image-containers {
  background-color: #638ab5;
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border-radius: 15px;
  padding: 5px;
}

.article-text {
  padding: 20px;
  border-radius: 15px;
  width: 500px;
  flex-grow: 1;
}

.article-longer-text {
  padding: 20px;
  border-radius: 15px;
  width: 500px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: bottom;
  width: 100%;
}

/* Mobile Devices*/
@media only screen and (max-width: 391px) {
  section.cover-container {
    height: 30%;
    align-items: start;
  }
  .cover-image {
    object-fit: cover;
    height: 200px;
    margin: 0;
  }
  .cover-text {
    font-size: 10px;
    margin-left: 20px;
    margin-bottom: -20px;
    margin-top: -20px;
    justify-items: center;
  }
  .article,
  .article-longer {
    width: 390px;
    flex-direction: column;
    margin: 20px 50px 20px 50px;
  }
  .article-image,
  .article-image-longer {
    min-height: 300px;
    min-width: 300px;
  }

  .article-text,
  .article-longer-text {
    width: auto;
  }
}

/* Tablet Devices */
@media only screen and (min-width: 392px) and (max-width: 810px) {
  .cover-image,
  .cover-container {
    width: 50%;
  }
  .cover-text {
    width: 50%;
  }
  .articles {
    width: 48%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    align-items: stretch;
  }
  .article-longer {
    display: flex;

    width: 809px;
  }
  .article-image,
  .article-image-longer {
    min-height: 200px;
    min-width: 200px;
  }
  .article-text,
  .article-longer-text {
    width: auto;
  }
}

.form {
  display: flex;
  width: 100%;
  margin: 20px auto 5px auto;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  padding-left: 100px;
  padding-bottom: 50px;
  position: bottom;
}

.maps {
  width: 600px;
  height: 400px;
  margin-left: 100px;
  margin-bottom: 20px;
  background-color: aqua;
  align-self: center;
}

label {
  display: block;
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  height: 100px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

li {
  margin-bottom: 15px;
}

button {
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
}

.answer {
  margin-top: 5px;
  display: none;
}

.questions {
  background-color: #e0f2f1;
  padding: 20px;
  border-radius: 10px;
  max-width: 940px;
  max-height: auto;
  width: 100%;
  margin-bottom: 30px;
}
